.grid {
  background-color: #ddd;
  padding: 20px;
  width: 800px;
  height: 400px;
  margin: 20px auto;
  color: white;
  font-family: sans-serif;
  font-weight: bolder;
  display: grid;
  grid-template: auto auto / auto auto;
  grid-gap: 15px;
  align-content: space-between;
}

.grid div {
  background-color: rgb(255, 60, 0);
  display: flex;
  justify-content: center;
  align-items: center;
}
