div {
  width: 400px;
  background-color: #ddd;
  padding: 5px;
  margin: 10px;
  outline: 4px solid #ddd;
}

.note1 {
  border-left: 4px solid #e91e63;
}

.note2 {
  visibility: hidden;
}

.note3 {
  border-left: 4px solid #009688;
}
