/* Check this out: https://stackoverflow.com/questions/20851452/z-index-is-canceled-by-setting-transformrotate */

div {
  font-family: sans-serif;
  color: white;
  width: 200px;
  height: 200px;
  background-color: black;
  position: relative;
  left: 50%;
  margin-top: 50px;
  /* transform: rotate(45deg); */
  border-right: 5px solid white;
  border-bottom: 5px solid white;
  z-index: -1;
}

div::after {
  content: "Elzero";
  display: flex;
  justify-content: left;
  align-items: flex-end;
  padding: 5px;
  padding-left: 10px;
  width: 200px;
  height: 200px;
  border-bottom: 5px solid #000;
  position: relative;
  left: 1px;
  top: 1px;
  background-color: #607d8b;
  transform: rotate(315deg);
  z-index: -1;
}
