.font1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.font2 {
  font-family: "Cairo", sans-serif;
  font-weight: 700;
}

.font3 {
  font-family: "Jomhuria", cursive;
  font-weight: 400;
}
