* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: white;
}

div.layout {
  display: grid;
  width: auto;
  height: 100vh;
  grid-template-columns: 70% 30%;
  grid-template-rows: 8% 84% 8%;
}

header {
  background-color: red;
  grid-column-start: span 2;
  padding: 20px;
}

section {
  background-color: green;
  padding: 20px;
}

aside {
  background-color: blue;
  padding: 20px;
}

footer {
  background-color: yellow;
  grid-column-start: span 2;
  padding: 20px;
}

header::before {
  content: "Header";
}

section::before {
  content: "Section";
}

Aside::before {
  content: "Aside";
}

Footer::before {
  content: "Footer";
}
